.heading__btn {
  font-size: 16px;
  color: #888888;
}
.heading__con {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  top: 350px;
  overflow-x: auto;

}

.heading__btn:active {
  color: #001a52 !important;
}
.heading__btn{
  border: none;
  background-color: inherit;
}



